.App {
    text-align: center;
}

.header {
    background-color: rgb(143, 188, 143);
    color: white;
    height: 2%;
    padding: 2%;
}

.body {
    background-color: rgb(223, 236, 223);
    height: 98%;
    padding: 5%; 
}

.taskInput {
    background-color: rgb(155, 188, 143);
}

.list {
    background-color: rgb(143, 188, 188);   
}

li {
    text-align: left;
    height: 30px;
}

li button {
    float: right;

}